@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="mt-4">Welcome to Housing.com !</h1>
<p>Housing.com is the New zealand's  largest buying and selling platform for Houses. Established in 1995. </p>
<img src="~/images/buyhouse.jpg" width="1055" />
